<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    
      <!-- Navbar brand -->
      <a class="navbar-brand" href="javascript:void(0)">Navbar</a>
    
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
    
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [ngClass]="{ 'active': nav1.isActive}">
            <a class="nav-link" routerLink="home" routerLinkActive #nav1="routerLinkActive">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{ 'active': nav2.isActive}">
            <a class="nav-link" href="javascript:void(0)" routerLink="gridpoc" routerLinkActive #nav2="routerLinkActive">GridPOC</a>
          </li>
          <li class="nav-item" [ngClass]="{ 'active': nav3.isActive}">
            <a class="nav-link" href="javascript:void(0)" routerLink="gridpoclist" routerLinkActive #nav3="routerLinkActive">GridPOCList</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">Pricing</a>
          </li>
    
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="javascript:void(0)">Action</a>
              <a class="dropdown-item" href="javascript:void(0)">Another action</a>
              <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
            </div>
          </li>
    
        </ul>
        <!-- Links -->
    
        <form class="form-inline">
          <div class="md-form my-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </div>
      <!-- Collapsible content -->
    
    </nav>
    <!--/.Navbar-->
  
    <div>
        <router-outlet></router-outlet>
    </div>  
  